$grayer:#545050;
$gray:#545050;
$black:#010A0F;
$white:#F1E4E3;
$orange:#F13E2F;
$purewhite:#FFFFFF;
$planetBlack:#191414;
$euclidRegular:euclidRegular;
$euclidMedium:euclidMedium;
$graphikRegular:graphikRegular;
$graphikMedium:graphikMedium;

$sm: 480px;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider:(4/3);
$xd-width:1920;
$xd-height:1080;
$width-of-container:(85px/$divider);
$menu-height:54px;
$gray_color:#EFE9F8;
$gray-main-color:#bfbfbf;
