@import "../../sass/mixins.scss";
#arrows{
    display: flex;
    justify-content: flex-end;
    mix-blend-mode: difference;
    .wrapper{
        gap:pxToVw(34);
    }
    svg{
        width: pxToVw(94)!important;
        height: auto;
    }
    .right-arrow{
        transform: scaleX(-1);
    }
}