@import "../../sass/mixins.scss";
#spheregl{
    $height:1000;
    min-height: pxToVw($height);
    min-width: pxToVw($height);
    max-height: pxToVw($height);
    max-width: pxToVw($height);
    background-color: rgba($color: white, $alpha: 0.0);
    border-radius: 0%;
    position: fixed;
    top:0;
    left:calc(60vw - pxToVw($height/2));
    top:calc(50vh - pxToVw($height/2));
    z-index:10;
}