@import "../../sass/mixins.scss";
#home{
    .left-size{
        min-width: 60vw;
        width: 60vw;
        min-height: 100vh;
        height: 100vh;
        background-color: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: pxToVw(50) pxToVh(100);
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        svg{
            width: pxToVw(60);
            height: auto;
            margin-left: pxToVw(50);
        }
        #cta{
           padding-left: pxToVw(50);
        }
    }
    .right-size{
        @extend .left-size;
        min-width: 40vw;
        width: 40vw;
        background-color:rgba(0,0,0,0);
    }
}